* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ebeadb;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
  }

  nav {
    height: 80px;
    border-bottom: 10px ridge #747474;
    background-color: #000000;
  }
  
  nav ul li a {
    display: block;
    font-size: 25px;
    padding: 25px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: white;
  }
  
  .divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    margin: 50px 0 50px 0;
  }
  
  .firstdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #9ABF80;
    padding: 10px 110px 10px 110px;
    margin: auto;
  }
  
  .seconddiv, .thirddiv, .fourthdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #9ABF80;
    font-size: 22px;
    padding: 10px 50px 10px 50px;
    min-width: 5%;
    max-width: 80%;
    min-height: 10%;
    margin: auto;
    border-left: 10px ridge #709556;
    border-right: 10px ridge #709556;
  }

  .image {
    border-bottom: 10px ridge #aeaeae;
    border-top: 10px ridge #aeaeae;
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .divs .seconddiv:hover {
    transform: scale(1.1);
  }

  .divs .thirddiv:hover {
    transform: scale(1.1);
  }

  .divs .fourthdiv:hover {
    transform: scale(1.1);
  }

  .divs h1, p {
    padding: 15px;
  }
  
  footer {
    display: flex;
    border-top: 10px ridge rgb(135, 138, 131);
    background-color: #000000;
    color: white;
    height: 300px;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  footer p {
    padding-top: 200px;
    margin: auto;
    text-align: center;
  }
  